/*
 * file : layx.css
 * gitee : https://gitee.com/monksoul/LayX
 * author : 百小僧/MonkSoul
 * version : v1.0.0
 * create time : 2018.05.03
 * update time : 2018.05.06
 */

.layx-window,
.layx-window *,
.layx-shade {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.layx-shade {
    position: fixed;
    z-index: 10000000;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layx-window {
    position: fixed;
    z-index: 19920527;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
    background-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.layx-window.shadowFlicker {
    animation-name: layx-shadowFlicker;
    -webkit-animation-name: layx-shadowFlicker;
    animation-duration: 0.12s;
    -webkit-animation-duration: 0.12s;
    animation-iteration-count: 8;
    -webkit-animation-iteration-count: 8;
}

.layx-window,
.layx-control-bar,
.layx-menus,
.layx-icons,
.layx-title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    overflow: hidden;
}

.layx-control-bar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: reative;
    z-index: 1;
    min-height: 30px;
}

.layx-iconfont {
    width: 1em;
    height: 1em;
    /*vertical-align: -0.15em;*/
    fill: currentColor;
    overflow: hidden;
}

.layx-title,
.layx-body {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.layx-icons {
    padding: 0 8px;
}

.layx-title {
    color: #00003a;
    font-size: 13px;
    padding: 0 8px 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-line-clamp: 1;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    line-height: 28px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.layx-menus {
    position: relative;
    z-index: 2;
}

.layx-operator {
    width: 45px;
    text-align: center;
    font-size: 12px;
    color: #000;
}

.layx-operator.layx-pin-menu[data-topable="1"] {
    color: #f00;
}

.layx-operator.layx-min-menu:hover,
.layx-operator.layx-restore-menu:hover,
.layx-operator.layx-max-menu:hover,
.layx-operator.layx-pin-menu:hover {
    background-color: #e5e5e5;
}

.layx-operator.layx-destroy-menu:hover {
    background-color: #e81123;
    color: #fff;
}

.layx-icons .layx-icon {
    font-size: 14px;
    text-align: center;
    color: #666;
}

.layx-body {
    position: relative;
    z-index: 1;
}

.layx-fixed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    background: transparent;
}

.layx-fixed[data-enable='1'] {
    visibility: visible;
}

.layx-wait {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.layx-wait>.layx-iframe {
    display: none;
}

.layx-iframe,
.layx-html {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.layx-html {
    overflow: auto;
}

.layx-resizes[data-enable='0'] {
    visibility: hidden;
}

.layx-resizes>div {
    position: absolute;
    z-index: 3;
}

.layx-resize-top,
.layx-resize-bottom {
    height: 3px;
    left: 3px;
    right: 3px;
}

.layx-resize-top {
    top: 0;
    cursor: n-resize;
}

.layx-resize-bottom {
    bottom: 0;
    cursor: s-resize;
}

.layx-resize-left,
.layx-resize-right {
    width: 3px;
    top: 3px;
    bottom: 3px;
}

.layx-resize-left {
    left: 0;
    cursor: w-resize;
}

.layx-resize-right {
    right: 0;
    cursor: e-resize;
}

.layx-resize-left-top,
.layx-resize-right-top,
.layx-resize-left-bottom,
.layx-resize-right-bottom {
    width: 3px;
    height: 3px;
}

.layx-resize-left-top {
    left: 0;
    top: 0;
    cursor: nw-resize;
}

.layx-resize-right-top {
    right: 0;
    top: 0;
    cursor: ne-resize;
}

.layx-resize-left-bottom {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}

.layx-resize-right-bottom {
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.layx-status-bar {
    min-height: 25px;
    background-color: #f0f0f0;
    border-top: 1px solid #dfdfdf;
    font-size: 12px;
    line-height: 25px;
}

.layx-alert-content {
    color: #003399;
    font-size: 15px;
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -o-justify-content: flex-start;
}

.layx-alert-buttons {
    padding: 10px;
    text-align: right;
    line-height: normal;
}

.layx-alert-buttons .layx-status-button {
    padding: 0 16px;
    height: 21px;
    line-height: 21px;
    color: #000000;
    font-size: 14px;
    border: 1px solid #adadad;
    outline: none;
    margin-left: 8px;
    display: inline-block;
    background-color: #e1e1e1;
}

.layx-alert-buttons .layx-status-button:hover {
    background-color: #e5f1fb;
    border: 1px solid #0078d7;
}

@keyframes layx-shadowFlicker {
    from {
        box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
    }
    from {}
    to {
        box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
    }
}

@-webkit-keyframes layx-shadowFlicker {
    from {
        box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
    }
    from {}
    to {
        box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
    }
}

@-moz-keyframes layx-shadowFlicker {
    from {
        box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
    }
    from {}
    to {
        box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
    }
}

@-o-keyframes layx-shadowFlicker {
    from {
        box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
    }
    from {}
    to {
        box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
    }
}