/*
 * file : layx.css
 * gitee : https://gitee.com/monksoul/LayX
 * author : °ÙÐ¡É®/MonkSoul
 * version : v2.2.2
 * create time : 2018.05.11
 * update time : 2018.05.26
 */

*[class^="layx-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.layx-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    overflow: hidden;
}

.layx-flex-vertical {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -o-justify-content: flex-start;
}

.layx-flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
}

.layx-flexauto {
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}

.layx-shade, #layx-window-move {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

body.ilayx-body {
    overflow: hidden !important;
}

.layx-window {
    position: fixed;
    overflow: hidden;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    box-direction: normal;
    -webkit-box-direction: normal;
    -o-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    color: #000;
    font-size: 12px;
    line-height: 1.5;
}

.layx-window.layx-flicker {
    animation-name: layx-flicker;
    -webkit-animation-name: layx-flicker;
    -moz-animation-name: layx-flicker;
    -o-animation-name: layx-flicker;
    animation-duration: 0.12s;
    -webkit-animation-duration: 0.12s;
    -moz-animation-duration: 0.12s;
    -o-animation-duration: 0.12s;
    animation-iteration-count: 8;
    -webkit-animation-iteration-count: 8;
    -moz-animation-iteration-count: 8;
    -o-animation-iteration-count: 8;
}

.layx-window.layx-min-statu {
    min-height: 0 !important;
}

.layx-window.layx-min-statu .layx-title {
    overflow: hidden !important;
}

.layx-window.layx-min-statu .layx-inlay-menus .layx-stick-menu, .layx-window.layx-min-statu .layx-inlay-menus .layx-debug-menu {
    display: none;
}

.layx-window.layx-bubble-type {
    overflow: visible !important;
    position: absolute !important;
}

.layx-window.layx-hide-statu {
    display: none !important;
}

.layx-control-bar {
    min-height: 30px;
    overflow: hidden;
    width: 100%;
    padding-left: 8px;
}

.layx-iconfont {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 14px;
}

.layx-icon {
    text-align: center;
}

.layx-icon * {
    pointer-events: none;
}

.layx-left-bar {
    margin-right: 8px;
}

.layx-window-icon {
    font-size: 14px;
}

.layx-title, .layx-group-tab {
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 8px;
    min-width: 0;
}

.layx-title label, .layx-group-tab label {
    max-width: 100%;
    line-clamp: 1;
    -moz-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-line-clamp: 1;
    -ms-line-clamp: 1;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-height: 28px;
    word-wrap: break-word;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-white-space: nowrap;
    display: inline-block;
    pointer-events: none;
    visibility: visible;
}

.layx-group-tab.layx-type-group {
    overflow: visible;
    margin-right: 0;
    border-bottom: 1px solid #dfdfdf;
}

.layx-control-bar.layx-type-group {
    overflow: visible;
    border-bottom: 1px solid #dfdfdf;
}

.layx-group-title {
    height: 27px;
    line-height: 25px;
    margin-top: 3px;
    max-width: 150px;
    width: 150px;
    padding: 0 8px;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-width: 1px 1px 0 0;
    position: relative;
    color: #666;
    white-space: nowrap;
}

.layx-group-tab .layx-group-title {
    margin-top: 0;
}

.layx-title.layx-type-group {
    overflow: visible;
}

.layx-title.layx-type-group .layx-group-title:first-child {
    border-left: 1px solid #dfdfdf;
}

.layx-group-title[data-enable="1"] {
    background-color: #fff;
    color: #000;
}

.layx-group-title[data-enable="1"]::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    border-bottom: 1px solid #fff;
}

.layx-title label {
    pointer-events: none;
}

.layx-inlay-menus {
    height: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    max-height: 30px;
    z-index: 2;
}

.layx-inlay-menus .layx-icon {
    width: 45px;
}

.layx-inlay-menus .layx-icon:hover {
    background-color: #e5e5e5;
}

.layx-inlay-menus .layx-icon.layx-destroy-menu:hover {
    background-color: #e81123;
    color: #fff;
}

.layx-inlay-menus .layx-icon.layx-stick-menu[data-enable='1'] {
    color: #f00;
}

.layx-main {
    overflow: hidden;
    position: relative;
    clear: both;
}

.layx-group-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    visibility: hidden;
}

.layx-group-main[data-enable="1"] {
    z-index: 1;
    visibility: visible;
}

.layx-mouse-preventDefault {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: transparent;
}

.layx-content-shade {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    background-color: #fff;
    font-size: 14px;
}

.layx-html {
    font-size: 14px;
    word-break: break-all;
    overflow: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.layx-msg, .layx-load {
    color: #000;
    font-size: 15px;
    padding: 10px;
    word-break: break-all;
}

.layx-alert, .layx-confirm, .layx-prompt {
    font-size: 15px;
    padding: 10px;
    color: #039;
}

.layx-prompt {
    width: 100%;
}

.layx-textarea {
    display: block;
    border: 1px solid #dfdfdf;
    width: 100%;
    resize: none;
    height: 60px;
    margin-top: 8px;
    padding: 8px;
    font-size: 15px;
    color: #000;
}

.layx-textarea:focus {
    border: 1px solid #3baced;
}

.layx-buttons {
    padding: 8px 10px;
    text-align: right;
    line-height: normal;
}

.layx-button-item {
    padding: 0 16px;
    height: 24px;
    line-height: normal;
    color: #000;
    font-size: 14px;
    border: 1px solid #adadad;
    outline: none;
    margin-left: 8px;
    display: inline-block;
    background-color: #e1e1e1;
}

.layx-buttons .layx-button-item:hover {
    background-color: #e5f1fb;
    border: 1px solid #0078d7;
}

.layx-buttons .layx-button-item[disabled] {
    color: #999;
    cursor: not-allowed;
}

.layx-buttons .layx-button-item[disabled]:hover {
    background-color: #e1e1e1;
    border: 1px solid #adadad;
}

.layx-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.layx-statu-bar {
    border-top: 1px solid #dfdfdf;
    min-height: 25px;
    font-size: 12px;
    background-color: #f0f0f0;
}

.layx-resizes[data-enable='0'] {
    visibility: hidden;
}

.layx-resizes > div {
    position: absolute;
    z-index: 3;
}

.layx-resize-top,
.layx-resize-bottom {
    height: 3px;
    left: 3px;
    right: 3px;
}

.layx-resize-top {
    top: 0;
    cursor: n-resize;
}

.layx-resize-bottom {
    bottom: 0;
    cursor: s-resize;
}

.layx-resize-left,
.layx-resize-right {
    width: 3px;
    top: 3px;
    bottom: 3px;
}

.layx-resize-left {
    left: 0;
    cursor: w-resize;
}

.layx-resize-right {
    right: 0;
    cursor: e-resize;
}

.layx-resize-left-top,
.layx-resize-right-top,
.layx-resize-left-bottom,
.layx-resize-right-bottom {
    width: 3px;
    height: 3px;
}

.layx-resize-left-top {
    left: 0;
    top: 0;
    cursor: nw-resize;
}

.layx-resize-right-top {
    right: 0;
    top: 0;
    cursor: ne-resize;
}

.layx-resize-left-bottom {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}

.layx-resize-right-bottom {
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.layx-auto-destroy-tip {
    position: absolute;
    bottom: 3px;
    right: 3px;
    height: 25px;
    line-height: 25px;
    z-index: 5;
    color: #444;
    font-size: 13px;
    background-color: #f1f1f1;
}

.layx-code {
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #f5f5f5;
}

.layx-bubble {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    top: -11px;
    left: 5px;
}

.layx-bubble-inlay {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 2px;
    left: -9px;
}

.layx-pre {
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: Arial;
    border-radius: 3px;
    display: block;
    font-family: Arial;
}

@keyframes layx-flicker {
    from {
        -webkit-box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
        box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
    }

    to {
        -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
        box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
    }
}

@-webkit-keyframes layx-flicker {
    from {
        -webkit-box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
        box-shadow: 1px 1px 24px rgba(0, 0, 0, .3);
        opacity: 1;
    }

    to {
        -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
        box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
        opacity: 0.5;
    }
}
